#navbar{
    font-size: 15px;
}

  


  
#footer{
    padding: 0;
    margin: 0;
}
  
  /*modals*/
  #loginCon{
    width: 400px;
    height: 600px;
    background-color: #233142;
  
}
  
  #loginCon .btn-close, #signUpCon .btn-close{
    padding: 1em;
}
  
#submit_login, #sign_up_from_login
{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 25px;
    transition: 0.3s;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 1em;
    margin-right: 20px;
}


#signUpCon
{
    width: 400px;
    height: 600px;
    background-color: #233142;
}

.loginform{
    width: 80%;
    margin: auto;
    height: 550px;
}
  
.input-group
{
    width: 80%;
    margin: auto;
}
#login, #signup{
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-secondary);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#login:hover, #signup:hover, #addItem:hover{
    color: #f8f9fab5;
}

#addItem{
    background: none;
    border: none;
    color: var(--bs-secondary);
}