#navbar{
    font-size: 20px;
    font-weight: 400;
}

#logo{
    width: 130px;
    height: 100%;
}


  
#footer{
    padding: 0;
    margin: 0;
}
  
  /*modals*/
  #loginCon, #signUpCon{
    width: 200vw;
    height: 100%;
    background-color: var(--bs-dark);
  
}
  
  #loginCon .btn-close, #signUpCon .btn-close{
    padding: 1em;
}
  
#submit_login, #sign_up_from_login, #sendregistrationForm
{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    border-radius: 25px;
    transition: 0.3s;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: auto;
}




.loginform{
    padding: 2rem;
    margin: auto;
}
  
.input-group
{
    width: 80%;
    margin: auto;
}
#login, #signup, #logout{
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-secondary);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#login:hover, #signup:hover, #addItem:hover, #cart:hover, #logout:hover{
    color: #f8f9fab5;
}

#addItem, #cart{
    background: none;
    border: none;
    color: var(--bs-secondary);
    font-weight: 400;
    font-size: 20px;
}

#offcanvasRight, #offcanvasLeft{
    width: 50%;
}

@media (max-width: 767px) {
    #offcanvasRight, #offcanvasLeft {
        width: 100%;
    }
}