#navbar {
    font-size: 15px;
}





#footer {
    padding: 0;
    margin: 0;
}

/*modals*/
#loginCon {
    min-height: 50vh;
    background-color: #233142;

}

#loginCon .btn-close,
#signUpCon .btn-close {
    padding: 1em;
}

#submit_login,
#sign_up_from_login {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 25px;
    transition: 0.3s;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 1em;
    margin-right: 20px;
}

#signUpCon {
    min-height: 50vh;
    min-width: 150%;
    background-color: #233142;
}

.input-group {
    width: 80%;
    margin: auto;
}