/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
  }
  
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }

  body{
    font-family: var(--font-default);
  }


  a {
    text-decoration: none;
  }
  
  a:hover {
    color: #d9dddc;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-primary);
  }

  p{
    font-size: 20px;
  }