@import "/Media/CSS/root.css";
@import "/Media/CSS/nav_footer.css";

#storeGrid .card{
    width: 240px;
    padding: 0;
}

.prod{
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

#storeGrid .card h3, #storeGrid .card p{
    padding: 0.25rem;
} 


