/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
  }
  
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }


  a {
    text-decoration: none;
  }
  
  a:hover {
    color: #d9dddc;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-primary);
  }

  p{
    font-size: 20px;
  }
  
  .hero-section {
    display: flex;
    align-items: center;
    background-color:rgba(23,22,25,255);
    color: #fff;
    padding: 50px;
  }

  .hero-content {
    flex: 1;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .hero-gif {
    flex: 1;
    text-align: center;
    padding-bottom: 20px;
  }

  .hero-gif img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 576px) {
    .hero-section {
      flex-direction: column;
      text-align: center;
    }

    .hero-gif {
      padding-top: 20px;
    }

  }

  #navbar{
    font-size: 20px;
  }

  .header-btn {
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    margin-right: 20px;
    border-radius: 50px;
    transition: 0.3s;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
  }
  
  .header-btn:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }

 /*Icon boxes*/

.icon-box {
  padding:30px;
  position: relative;
  overflow: hidden;
  background: #233142;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  height: 100%;
  text-align: center;
}

.icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.icon-box .title a {
  color: #fff;
  transition: 0.3s;
}



.icon-box:hover {
  background: #455d7a;
}

.icon-box:hover .title a,
.icon-box:hover .icon {
  color: #fff;
}

/*about us*/
.about h3 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  font-family: var(--font-secondary);
}

.about .call-us {
  left: 10%;
  right: 10%;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
  padding: 20px;
  text-align: center;
}

.about .call-us h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.about .call-us p {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-primary);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding: 0 0 10px 30px;
  position: relative;
}

.about .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: var(--color-primary);
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*Team start*/
.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.aqua-gradient {
  background:linear-gradient(0deg, rgba(64,28,130,1) 0%, rgba(32,15,50,1) 100%) !important;
}

.testimonial-card .avatar {
  width: 120px;
  height: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}
/*Team start*/


#footer{
  padding: 0;
  margin: 0;
}

/*modals*/
#loginCon{
  min-height: 50vh;
  background-color: #233142;

}

#loginCon .btn-close{
  padding: 1em;
}

#submit_login, #sign_up_from_login{
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 25px;
    transition: 0.3s;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 1em;
    margin-right: 20px;
  }